{% extends "../../template/layout-main.html" %}

{% block content %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Master Data</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">kargo</a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <div class="card-title">
                <h5>Daftar master semua kargo</h5>
              </div>
              <div class="card-tools">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#formModal"><i class="fa fa-plus mr-2"></i>Tambah kargo</button>
              </div>
            </div>
          </div>
          <div class="card-body">

            <div>
              <a
                class="btn btn-outline-danger btn-sm btn-status mt-2 mt-md-0"
                href="#"
              >
                <span class="btn-label">
                  <i class="fa fa-exclamation-circle text-danger"></i>
                </span>
                Scan dari Depo <b>(34)</b>
              </a>
              <a
                class="btn btn-outline-warning btn-sm btn-status mt-2 mt-md-0"
                href="#"
              >
                <span class="btn-label">
                  <i class="fa fa-exclamation-circle text-warning"></i>
                </span>
                Sampai Gudang <b>(10)</b>
              </a>
              <a
                class="btn btn-outline-info btn-sm btn-status mt-2 mt-md-0"
                href="#"
              >
                <span class="btn-label">
                  <i class="fa fa-info text-info"></i>
                </span>
                Proses Sortir <b>(5)</b>
              </a>
              <a
                class="btn btn-outline-success btn-sm btn-status mt-2 mt-md-0"
                href="#"
              >
                <span class="btn-label">
                  <i class="fa fa-check text-success"></i>
                </span>
                Kirim ke Pelabuhan <b>(12)</b>
              </a>
              <a
                class="btn btn-outline-primary btn-sm btn-status mt-2 mt-md-0"
                href="#"
              >
                <span class="btn-label">
                  <i class="fa fa-archive text-primary"></i>
                </span>
                Sudah Sampai <b>(25)</b>
              </a>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-head-bg-primary mt-4">
                <thead>
                  <tr>
                    <th scope="col">Kode</th>
                    <th scope="col">Penerima</th>
                    <th scope="col">Info</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="#" class="text-link" data-toggle="modal" data-target="#formModal">A0091230</a>
                    </td>
                    <td>Toko Jaya</td>
                    <td>
                      <span>Scan: Rudi</span><br>
                      <span>Jumat, 12 Mei 2023 10:23</span>
                    </td>
                    <td><span class="badge badge-warning badge-status">Sampai Gudang</span></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="text-link" data-toggle="modal" data-target="#formModal">A0091244</a></td>
                    <td>Batam Center</td>
                    <td>
                      <span>Scan: Tono</span><br>
                      <span>Jumat, 12 Mei 2023 11:23</span>
                    </td>
                    <td><span class="badge badge-success badge-status">Sudah Sampai</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Form kargo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="stockist">Penerima</label>
            <select class="form-control" id="stockist" name="stockist">
              <option>Pilih Penerima</option>
              <option>Toko Jaya</option>
              <option>Batam Center</option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Kode Kargo</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-sm btn-danger btn-border btnScan" onclick="openScan()" type="button"><b>KLIK SCAN</b></button>
              </div>
              <input type="text" class="form-control inputScan" placeholder="" aria-label="" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Informasi tambahan</label>
            <textarea
                class="form-control"
                id="field"
                name="field"
              ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger btn-border" data-dismiss="modal">Batalkan</button>
        <button type="button" class="btn btn-sm btn-primary">Simpan</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Scan -->
<div class="modal fade" id="formModalScan" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
          <div id="qr-reader" style="height: 300px; border-radius: 4px; background: white;"></div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block endscript %}
<!-- include the library -->
<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
<script>
  function openScan () {
    $('#formModalScan').modal('show');
  }
  function onScanSuccess(decodedText, decodedResult) {
    console.log(`Code scanned = ${decodedText}`, decodedResult);
    $('.inputScan').val(decodedText) 
    $('#formModalScan').modal('hide');
  }
  var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { fps: 10, qrbox: 250 });
  html5QrcodeScanner.render(onScanSuccess);
</script>
{% endblock %}