{% extends "../template/layout-stockist.html" %}

{% block content %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Inventory</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Inventory</a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <div class="card-title">
                <h5>Daftar semua inventory product</h5>
              </div>
              <div class="card-tools">
                <!-- <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#formModal"><i
                    class="fa fa-plus mr-2"></i>Tambah Inventory</button> -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-head-bg-primary mt-4">
                <thead>
                  <tr>
                    <th scope="col">Nama Product</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Total Stok</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="#" class="text-link" data-toggle="modal" data-target="#formModal">Ayam Dada</a>
                    </td>
                    <td>Rp50.000/pcs</td>
                    <td>150 pcs</td>
                  </tr>
                  <tr>
                    <td><a href="#" class="text-link" data-toggle="modal" data-target="#formModal">Tepung Goreng</a></td>
                    <td>Rp8.000/pcs</td>
                    <td>350 pcs</td>
                  </tr>
                  <tr class="bg-warning">
                    <td><a href="#" class="text-link" data-toggle="modal" data-target="#formModal">Tepung B</a></td>
                    <td>Rp8.000/pcs</td>
                    <td>5 pcs</td>
                  </tr>
                  <tr>
                    <td><a href="#" class="text-link" data-toggle="modal" data-target="#formModal">Tepung Goreng</a></td>
                    <td>Rp8.000/pcs</td>
                    <td>350 pcs</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">Inventory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title">Product : Ayam Dada</label>
            <label for="title">Sisa Stok : 20</label>
          </div>
          <div class="form-group">
            <label for="stok">Penambahan Stok</label>
            <input type="number" class="form-control" id="stok" name="stok" placeholder="stok" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger btn-border" data-dismiss="modal">Batalkan</button>
        <button type="button" class="btn btn-sm btn-primary">Simpan</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}