{% extends "../template/layout-main.html" %}

{% block content %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Dashboard</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Pages</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Ringkasan Data Bulan Januari 2023</a>
      </li>
    </ul>
  </div>

  <div class="page-content">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
          <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-danger mr-3">
              <i class="fa fa-users"></i>
            </span>
            <div>
              <h5 class="mb-1"><b><a href="#">1,352</a></b></h5>
              <small class="text-muted">Total Stockist</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
          <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-warning mr-3">
              <i class="fa fa-users"></i>
            </span>
            <div>
              <h5 class="mb-1"><b><a href="#">4.132</a></b></h5>
              <small class="text-muted">Total Mitra</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
          <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-success mr-3">
              <i class="fa fa-shopping-cart"></i>
            </span>
            <div>
              <h5 class="mb-1"><b><a href="#">450</a></b></h5>
              <small class="text-muted">Total Penjualan</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
          <div class="d-flex align-items-center">
            <span class="stamp stamp-md bg-secondary mr-3">
              <i class="fa fa-dollar-sign"></i>
            </span>
            <div>
              <h5 class="mb-1"><b><a href="#">Rp 14.250.000</a></b></h5>
              <small class="text-muted">Nilai Penjualan</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt--2">
      <div class="col-md-6">
        <div class="card full-height">
          <div class="card-body">
            <div class="card-title">Overall</div>
            <div class="card-category">Product Penjualan Terbanyak</div>
            <div class="d-flex flex-wrap justify-content-around align-items-center px-2 py-5">
              <div class="px-2 pb-2 pb-md-0 text-center align-self-center">
                <div id="circles-1"></div>
                <h6 class="fw-bold mt-3 mb-0">Ayam Dada</h6>
              </div>
              <div class="px-2 pb-2 pb-md-0 text-center align-self-center">
                <div id="circles-2"></div>
                <h6 class="fw-bold mt-3 mb-0">Ayam Paha</h6>
              </div>
              <div class="px-2 pb-2 pb-md-0 text-center align-self-center">
                <div id="circles-3"></div>
                <h6 class="fw-bold mt-3 mb-0">Tepung A</h6>
              </div>
            </div>
            <div class="quick-link d-flex flex-wrap justify-content-around align-items-center">
              <a href="/preorder" class="btn btn-success btn-sm notification-btn">
                <span><i class="fas fa-file-invoice mr-2"></i> Lihat PO dari Stockist</span>
                <span class="badge">23</span>
              </a>
              <a href="/inventory" class="btn btn-primary btn-sm">
                <i class="fa fa-cubes mr-2"></i> Lihat Stock Inventory
              </a>
              <a href="/sales-form" class="btn btn-primary btn-sm">
                <i class="fa fa-plus mr-2"></i> Tambah Penjualan Baru
              </a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <div class="card-title">Statistics</div>
              <div class="card-tools"></div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-container">
              <canvas id="multipleLineChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block endscript %}
<script>
  Circles.create({
    id: 'circles-1',
    radius: 45,
    value: 90,
    maxValue: 100,
    width: 7,
    text: 125,
    colors: ['#f1f1f1', '#2BB930'],
    duration: 400,
    wrpClass: 'circles-wrp',
    textClass: 'circles-text',
    styleWrapper: true,
    styleText: true
  })

  Circles.create({
    id: 'circles-2',
    radius: 45,
    value: 70,
    maxValue: 100,
    width: 7,
    text: 96,
    colors: ['#f1f1f1', '#FF9E27'],
    duration: 400,
    wrpClass: 'circles-wrp',
    textClass: 'circles-text',
    styleWrapper: true,
    styleText: true
  })

  Circles.create({
    id: 'circles-3',
    radius: 45,
    value: 40,
    maxValue: 100,
    width: 7,
    text: 45,
    colors: ['#f1f1f1', '#F25961'],
    duration: 400,
    wrpClass: 'circles-wrp',
    textClass: 'circles-text',
    styleWrapper: true,
    styleText: true
  })

  const multipleLineChart = document.getElementById('multipleLineChart').getContext('2d');
  const myMultipleLineChart = new Chart(multipleLineChart, {
    type: 'line',
    data: {
      labels: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"],
      datasets: [{
        label: "Ayam Dada",
        borderColor: "#1d7af3",
        pointBorderColor: "#FFF",
        pointBackgroundColor: "#1d7af3",
        pointBorderWidth: 2,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 1,
        pointRadius: 4,
        backgroundColor: 'transparent',
        fill: true,
        borderWidth: 2,
        data: [30, 45, 45, 68, 69, 90, 100, 158, 177, 200, 245, 256]
      }, {
        label: "Ayam Paha",
        borderColor: "#59d05d",
        pointBorderColor: "#FFF",
        pointBackgroundColor: "#59d05d",
        pointBorderWidth: 2,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 1,
        pointRadius: 4,
        backgroundColor: 'transparent',
        fill: true,
        borderWidth: 2,
        data: [10, 20, 55, 75, 80, 48, 59, 55, 23, 107, 60, 87]
      }, {
        label: "Tepung A",
        borderColor: "#f3545d",
        pointBorderColor: "#FFF",
        pointBackgroundColor: "#f3545d",
        pointBorderWidth: 2,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 1,
        pointRadius: 4,
        backgroundColor: 'transparent',
        fill: true,
        borderWidth: 2,
        data: [10, 30, 58, 79, 90, 105, 117, 160, 185, 210, 185, 194]
      }, {
        label: "Tepung B",
        borderColor: "#ffc107",
        pointBorderColor: "#FFF",
        pointBackgroundColor: "#ffc107",
        pointBorderWidth: 2,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 1,
        pointRadius: 4,
        backgroundColor: 'transparent',
        fill: true,
        borderWidth: 2,
        data: [12, 21, 50, 70, 82, 44, 70, 62, 125, 80, 120, 57]
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        position: 'bottom',
      },
      tooltips: {
        bodySpacing: 4,
        mode: "nearest",
        intersect: 0,
        position: "nearest",
        xPadding: 10,
        yPadding: 10,
        caretPadding: 10
      },
      layout: {
        padding: { left: 15, right: 15, top: 15, bottom: 15 }
      }
    }
  });
</script>
{% endblock %}