{% extends "../../template/layout-stockist.html" %}

{% block content %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Pre-Order</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Pre-Order</a>
      </li>
    </ul>
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-head-row">
              <div class="card-title">
                <h5>Daftar semua Pre-Order kepada Kantor Pusat</h5>
              </div>
              <div class="card-tools">
                <a href="/stockist/preorder-form" class="btn btn-primary btn-sm">
                  <i class="fa fa-plus mr-2"></i>Buat Pre-Order Baru
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover table-head-bg-primary mt-4">
                <thead>
                  <tr>
                    <th scope="col">Pre-Order</th>
                    <th scope="col">Total Barang</th>
                    <th scope="col">Jumlah</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="#" class="text-link" data-toggle="modal" data-target="#myModal">
                        SL-12122022-002
                      </a><br>
                      <span class="text-muted text-xs font-italic">Kamis 12 Dec 2022, 18:02</span>
                    </td>
                    <td>150</td>
                    <td>Rp.4.150.00</td>
                    <td align="center">
                      <span class="w-50 badge badge-success">Selesai</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#" class="text-link" data-toggle="modal" data-target="#myModal">
                        SL-12122022-001
                      </a><br>
                      <span class="text-muted text-xs font-italic">Kamis 12 Dec 2022, 09:12</span>
                    </td>
                    <td>350</td>
                    <td>Rp.5.300.00</td>
                    <td align="center">
                      <span class="w-50 badge badge-warning">Belum Diproses</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}